<% content_for :head do %>
<link rel="stylesheet" href="/tinyeditor/tinyeditor.css">
<script src="/tinyeditor/tiny.editor.packed.js"></script>

<script type="text/javascript">
$(document).ready( function() { 
editor = new TINY.editor.edit('editor', {
	id: 'body',
	width: 510,
	cssclass: 'tinyeditor',
	controlclass: 'tinyeditor-control',
	rowclass: 'tinyeditor-header',
	dividerclass: 'tinyeditor-divider',
	controls: ['bold', 'italic', 'underline', 'strikethrough', '|', 'subscript', 'superscript', '|',
		'orderedlist', 'unorderedlist', '|', 'outdent', 'indent', '|', 'leftalign',
		'centeralign', 'rightalign', 'blockjustify', '|', 'unformat', '|', 'undo', 'redo', 'n',
		'font', 'size', 'style', '|', 'image', 'hr', 'link'],
	fonts: ['Verdana','Arial','Georgia','Trebuchet MS'],
	xhtml: true,
	bodyid: 'editor',
	toggle: {text: 'source', activetext: 'wysiwyg', cssclass: 'toggle'},
	resize: {cssclass: 'resize'}
});

$('#wysiwyg').submit(function() {
	editor.post();
});

});

</script>
<% end %>

<div id="admin">
<h2>Admin Panel</h2>
<%= form_tag "/admin/newsletter", :id => 'wysiwyg' do %>
<div class="clearfix">
	<%= label_tag 'subject', 'Email Subject' %>
	<%= text_field_tag('subject', nil, {:class => 'rinput', :placeholder => 'Check out Uranus!', :required => 'required', :value => flash[:subject]})%>  
</div>

<div class="wysiwyg">
<%= label_tag 'body', 'Email Body', :class => 'speciallabel'%>
<%= text_area_tag 'body', flash[:body].nil? ? 'Learning about Colorectal Cancer is anything "butt" optional!' : flash[:body].html_safe, {:class => 'rinput'} %>
</div>

<div class="clearfix">
<%= label_tag 'confirm', 'Confirm Password'%>
<%= password_field_tag('confirm', nil, {:class => 'rinput', :placeholder => 'Confirm password', :required => 'required'})%>
</div>
<%= submit_tag 'Send Newsletter', :class => 'rbutton' %>
<% end %>
</div>
