<% content_for :head do %>
	<script type="text/javascript">
	$(function() {
			backgrounds = ['/images/backgrounds/default',
					'/images/backgrounds/1',
					'/images/backgrounds/2'];
			messages = ['Getting screened for colorectal cancer is anything "butt" optional.',
				'Trust your gut. Get screened for colorectal cancer.',
				'Prevention is the best cure.'];
			
			for (var i = 0; i < messages.length; i += 1) {
				var msg = $('<div></div>').addClass('message').text(messages[i]);
				$('#choose_message').append(msg);
			}
			for (var i = 0; i < backgrounds.length; i += 1) {
				var bg = $('<img>').addClass('background').attr('src', backgrounds[i] + '-small.png').attr('data-index', i).attr('width', 100);
				if (i == 0) {
					bg.addClass('active');
				}
				$('#choose_background').append(bg);
			}
			$('.background').click(function() {
				$('.background').removeClass('active');
				$(this).addClass('active');
				$('#card_background').val(backgrounds[parseInt($(this).attr('data-index'))] + '.png');			
        update();        
			});

			$('.message').click(function() {
				$('#card_message').val($(this).text());
        update();
			});
			$('.recent').click(function() {
				var card = $(this);
				$('#card_sender').val(card.attr('data-sender'));
				$('#card_recipient').val(card.attr('data-recipient'));
				$('#card_address_street').val(card.attr('data-address-street'));
				$('#card_address_city').val(card.attr('data-address-city'));
				$('#card_address_state').val(card.attr('data-address-state'));
				$('#card_address_zip').val(card.attr('data-address-zip'));
				$('#card_message').val(card.attr('data-message'));
        update();
			});
      
      $('#card_recipient, #card_sender, #card_message').keyup(update);
      update();
	});
  function update (){
    $('.cardpreview-caption').text($('#card_message').val());
    $('.cardpreview-recipient').text($('#card_recipient').val() || "[Recipient]");
    $('.cardpreview-sender').text($('#card_sender').val() || "[Sender]");
    $('.cardpreview').css('background-image', 'url('+$('#card_background').val()+')');
  }
	</script>
<% end %>
<div id="send">
<h2>Send a Postcard</h2>
<% if @recent.length > 0 %>
	<div id="recentcards">
	<h3>Use a recently sent card!</h3>
	<% @recent.each do |card| %>
		<div class='recent card' data-recipient='<%= card.recipient %>' data-message='<%= card.message %>' data-address-zip='<%= card.address_zip %>' data-address-state='<%= card.address_state %> 'data-address-city='<%= card.address_city %>' data-address-street='<%= card.address_street %>' data-sender='<%= card.sender %>'>
			<h4>To: <%= card.recipient %></h4>
			<div class="cardinner">
				<%= card.message %>
			</div>
			<div class="timedate"><%= card.updated_at.strftime("Sent on %m/%d/%Y") %></div>
		</div>
	<% end %>
	<div class="clear"></div>
	</div>
<% end %>
<%= form_tag :action=> "postcard_create" do %>
<div class="clearfix">
	<%= label_tag 'card[sender]', 'Name'%>
<%= text_field_tag('card[sender]', nil, {:class => 'rinput', :placeholder => 'Your Colon', :value => @user.name, :required => 'required'})%>  
</div>
<div class="clearfix">
<%= label_tag 'card[recipient]', 'Recipient Name'%>
<%= text_field_tag('card[recipient]', nil, {:class => 'rinput', :placeholder => 'My Kitten', :required => 'required'})%>  
</div>
<div class="clearfix">
<%= label_tag 'card[address_street]', 'Recipient Address'%>
<%= text_field_tag('card[address_street]', nil, {:class => 'rinput', :placeholder => '123 Poop Lane', :required => 'required'})%>  
</div>
<div class="clearfix">
<%= label_tag 'card[address_city]', 'City, State, ZIP Code'%>
<div class="right">
<%= text_field_tag('card[address_city]', nil, {:class => 'rinput small', :placeholder => 'Berkeley', :required => 'required'})%>  
<%= text_field_tag('card[address_state]', nil, {:class => 'rinput smaller', :placeholder => 'CA', :required => 'required'})%>  
<%= text_field_tag('card[address_zip]', nil, {:class => 'rinput small', :placeholder => '94709', :required => 'required'})%>  
</div>
<% #select_tag('card[address_state]', options_for_select(us_states), {:class => 'rinput dropdown', :placeholder => 'Berkeley', :required => 'required'})%>  
</div>
<div class="choose" id="choose_background">
	<h4>Choose a card background:</h4>
</div>
<%= hidden_field_tag 'card[background]', '/images/backgrounds/default.png' %>
<div class="clearfix">
<%= label_tag 'card[message]', 'Caption Message'%>
<%= text_area_tag('card[message]', nil, {:class => 'rinput', :placeholder => 'Getting screened is anything “butt” optional.', :required => 'required'})%>  
</div>
<div class="clear"></div>
<div class="choose" id="choose_message">
	<h4>...or use one of our messages!</h4>
</div>
<div>
Preview
<div align="center"><div class="cardpreview">
  <div class="cardpreview-caption"></div>
  <div class="cardpreview-text">
    <p>Dear <span class="cardpreview-recipient">[Recipient]</span>,</p>

    <p>Colorectal cancer is the second leading cause of cancer-related deaths affecting both men and women.</p>

    <p>The Bottom Line: 60% of these deaths could be prevented with routine screenings and 90% of people diagnosed with colorectal cancer at its earliest stages survive more than five years.</p>

    <p>I am reminding you to get a life saving screening to protect your health.</p>

    <p>Already checked? Haven’t yet? Update me and visit http://signthebottomline.org to learn more. Put this postcard on the fridge so you won’t forget.</p>

    <p><span class="cardpreview-sender">[Sender]</span></p>
  </div>
</div></div>
</div>
<%= submit_tag 'Send my card!', :class => 'rbutton' %>
<% end %>
</div>
