<div id="register">
<h2>Register</h2>
<%= form_tag :action=> "create" do %>
<div class="clearfix">
<%= label_tag 'user[name]', 'Name'%>
<%= text_field_tag('user[name]', nil, {:class => 'rinput', :placeholder => 'Your Colon'})%>  
</div>
<div class="clearfix">
<%= label_tag 'user[email]', 'Email'%>
<%= email_field_tag('user[email]', nil, {:class => 'rinput', :placeholder => 'colon@thebottomline.com'})%>  
</div>
<div class="clearfix">
<%= label_tag 'user[password]', 'Password'%>
<%= password_field_tag('user[password]', nil, {:class => 'rinput'})%>
</div>
<div class="clearfix">
<%= label_tag 'confirm', 'Confirm Password'%>
<%= password_field_tag('confirm', nil, {:class => 'rinput'})%>
</div>
<div class="clearfix">
<%= check_box_tag 'user[subscribed]'%>
<%= label_tag 'user[subscribed]', '"Keep me informed with monthly newsletters!" -- We promise not to give out your email!', :class => 'speciallabel'%>
</div>
<%= submit_tag 'Register', :class => 'rbutton' %>
<% end %>
</div>
