<!DOCTYPE html>
<html>
<head>
  <title>The Bottom Line</title>
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <%= stylesheet_link_tag    "application" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div id="container">
      <!--td width="82" height="161" align="center"><img src="images/pinterest-icon.png" width="20" class="floatRightClear" vspace="20"><a href="https://www.facebook.com/signthebottomline"><img src="images/facebook-icon.png"  width="20" class="floatRightClear" vspace="20"></a><a href="https://twitter.com/#!/signbottomline"><img src="images/twitter-icon.png" width="20" class="floatRightClear" vspace="20"></a></td-->
      <div id="navbar">
      <a class="nav item" href="/mission">Mission</a>
      <a class="nav item" href="/Support">Support</a>
      <a class="nav" href="/"><img src="/images/logo.png" width="372" height="161" /></a>
      <% if !session[:userid].nil? then %><div class="loggedin">Welcome, <div class="username"><strong><%= session[:name].split[0].slice(0,1).capitalize + session[:name].split[0].slice(1..-1) %></div></strong>
	      <ul>
		      <a href="/settings"><li>Settings</li></a>
		      <a href="/logout"><li class="logout">Logout</li></a>
	      </ul>
      </div>
      <% end %>
      <% if session[:userid].nil? then %>
      <a class="nav item" href="/about">About</a>
      <a class="nav usercontrol" href="/login">Sign in</a><% end %>
 </div>



      <div id="content">
	<% if !flash[:error].nil? then %><div class="error"><strong>Error:</strong> <%= flash[:error].html_safe %></div><% end %>
        <% if !flash[:notice].nil? then %><div class="notice"><%= flash[:notice].html_safe %></div><% end %>
      	<%= yield %>
      </div>
     <% if params[:controller] != 'send' then %>
    <div id="frontbutton">
	    <a href="/send"><button class="large">Send a reminder today!</button></a>   
    </div>
    <% end %>


<div id="copyright">&#169; 2012 The Bottom Line 2012. All rights reserved. The Bottom Line is not a substitute for medical advice. Please consult a medical specialist for support. Your privacy is important to The Bottom Line. Personal information you provide will never be sold to commercial interests.</div>
</div>
</body>
</html>
